/*//////// CONTATO //////*/

.capa-contato {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagens/capa-contato.jpg);
    background-size: cover;
    background-position: center;
}

.gm {
    font-size: 20px;
    background-color: rgb(241, 241, 241);
}

.gm h3 {
    color: var(--cor-destaque);
    font-size: 40px;
    margin-top: 20px;
    padding: 30px 0px;
}

.mapa {
    margin-top: 50px;
    padding: 20px;
}

.tabela {
    border: 1px solid red;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
}

.icones-tabela {
    color: var(--cor-destaque);
}

tr {
    display: block;
    padding: 10px;
}

.img-email {
    display: block;
    margin: auto;
    width: 400px;
    margin-top: 10%;
}

.contato-formulario {
    padding-top: 2%;
    background: linear-gradient(rgba(20, 100, 179, 0.8), rgba(20, 100, 179, 0.8)), url(../imagens/fundo-contato.jpg);
    border-radius: 10px;
    padding-bottom: 5%;
    margin: auto;
}

.input-formulario {
    display: block;
    padding: 10px 20px;
    border-radius: 10px;
    width: 80%;
    margin: 5% auto;
    border: 1px solid var(--cor-destaque);
}

.botao-formulario {
    border-radius: 10px;
    border: none;
    color: white;
    background-color: orange;
    padding: 10px 20px;
    display: block;
    margin: auto;
    width: 60%;
}

/*///////////////////////////////////// RESPONSIVIDADE ////////////////////////////////////////////*/

@media (max-width: 500px) {

    .img-email {
        width: 300px;
    }

    .contato-formulario {
        padding-top: 10%;
        padding-bottom: 10%;
        width: 90%;
    }

    .mapa-iframe {
        display: block;
        margin: auto;
        width: 95%;
    }

    .gm h3 {
        text-align: center;
    }
}